@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),      url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),                      url('../fonts/helveticaneue-thin-webfont.woff') format('woff'), 
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-bold-webfont.eot');
    src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
    url('../fonts/helvetica-bold-webfont.woff') format('woff'),
    url('../fonts/helvetica-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('eot'), 
  url('../fonts/entypo.woff') format('woff'), 
  url('../fonts/entypo.ttf') format('truetype'), 
  url('../fonts/entypo.svg#entypo') format('svg');
}
*{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
    }

.header{
    width: 1215px;
    height: 36px;
    background: url("../img/bgmenu.jpg");
    margin: auto;
    overflow: hidden;
    position: relative;
/*    box-sizing: border-box;*/
    padding-right: 16px;
             border: 0;
    }


.menu1 li{
     margin: 0;
        padding: 0;
       float: right;
      list-style: none;
}

.menu1 a{
      color: #fefefe;
    font-size: 14px;
    text-decoration: none;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Helvetica Neue";
     font-weight: bold;  
    font-style: bold;
    display: block;
    height: 36px;
/*    box-sizing: border-box;*/
     }

.menu1 a:hover{
   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,51b1dc+0,207cca+78,2e7ac4+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #51b1dc 0%, #207cca 78%, #2e7ac4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#51b1dc 0%,#207cca 78%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#51b1dc 0%,#207cca 78%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */


}

.menu1 a:hover span{
    text-decoration:underline;
}
.fl{
     float: right;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 4px;
    padding-left: 20px;
    border-left: 1px solid #60b5ed;
}

/***************/

		.menu2 li, a {
             font-family: "Helvetica Neue";
			display:inline-block;
			text-align:center;
            float: right;
            font-size: 14px;
            font-weight: normal;
             list-style: none;
		}
		.menu2 a {
			padding:9px 15px;
			text-decoration:none;
			color:#60b5ed;
		}
	.menu2	a:hover {
			font-weight:bold;
        color: white;
			background:#4eabda;
		}
	.menu2	a::after {
			display:block;
			content:attr(title);
			font-weight:bold;
			height:1px;
			color:transparent;
			overflow:hidden;
			visibility:hidden;
		}
/*    ***************/
.conteiner{
    width: 1215px;
    height: 1028px;
    background: url("../img/photo.jpg");
     margin: auto;
     align-items: center;
    justify-content: center; 
    overflow: auto;  
    display: flex;
}
form {
    height: 615px;
        font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: normal;
    width: 560px;}

.box1{
         width: 560px;
    height: 65px;  
    background: rgba(66, 58, 33, 0.63);
    color: white;
    text-align: center;
    padding-top: 23px;
}
.box2 {
       margin-top: 3px;
     width: 560px;
    height: 570px;
     background: rgba(66, 58, 33, 0.63);
    justify-content: center; 
    overflow: auto;  
    display: flex;
   font-size: 0;
 
    }
.elements{
    width: 278px;
    height: 500px;
    margin: 16px;
    
        
    } 

    .divp{
        width: 310px;}
  

.box2 li{
      list-style: none;
      display: inline-block;
    padding-top: 30px;
            }


.button{

    font-family: "Helvetica Neue";
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2d4176+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2d4176 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2d4176 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2d4176',GradientType=0 ); /* IE6-9 */
    
      border: solid 1px #31467d;
    box-shadow: inset 0 1px 0 0 #7789bb;
    -moz-box-shadow: inset 0 1px 0 0 #7789bb;
    -webkit-box-shadow: inset 0 1px 0 0 #7789bb;
    
}
.bt1 {
  
      height: 40px;
      width: 238px;
    font-size: 16px;
    
      border-radius:0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
 
    border-left: 1px solid #435c95;
    float: right;
}
.bt1 span{
     font-weight: normal;
}

.bt1::after{
    font-family: "entypo";
     font-weight: normal;
    font-style: normal;
    content: '\e800'
}

.bt2{
  float: right;
   height: 40px;
      width:40px;
    font-size: 24px;
    
      border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
      border-right: 1x solid #273d64;  
}

.imgou{
    margin: 25px 0;
   }

/* поля ввода*/

input[type="text"] {
    width: 278px;
    height: 40px;
    margin-bottom: 18px;
    background: #111010; 
    border: 0;
    border-bottom: 1px solid #6a6b6a;
    color: white;
    font-family: "Helvetica Neue";
      font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    box-shadow: inset 0px 5px 5px rgba(0,0,0,0.5);
     
}

input[type="text"]:focus {
   background: linear-gradient(to bottom,  #1f4b76 0%, #1b5286 100%);
      box-shadow: 0px 0px 3px  2px rgba(18,182,243,0.7);
}
.chlab{
    width: 278px;
   
}
.check {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
   }

   input[type="checkbox"] + .span-check {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/chek.jpg) no-repeat;
    cursor: pointer;
   }

   input[type="checkbox"]:checked + .span-check {
    background-position: 0 -26px; 
   }

label{
    font-family: "Helvetica Neue";
      font-weight: normal;
      color: #FFFFFF;
    font-size: 14px;
  }
.button-create{
     height: 38px;
      width: 150px;
  
    font-family: "Helvetica Neue";
      font-weight: bold;
      color: #FFFFFF;
    font-size: 14px;
    border: 2px;
      border-radius: 5px;
    border-color: #4a9cd6;
     box-shadow: inset 0px 4px 4px rgba(107,184,231,0.8);

    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50aedb+0,2e7ac4+100,7db9e8+100 */
background: #50aedb; /* Old browsers */
background: -moz-linear-gradient(top, #50aedb 0%, #2e7ac4 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #50aedb 0%,#2e7ac4 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #50aedb 0%,#2e7ac4 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50aedb', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.div-create{
    padding: 20px 64px 20px 64px;
}
.p{
    
text-align: center;
    font-family: "Helvetica Neue";
      font-weight: normal;
      color: #FFFFFF;
    font-size: 11px; 
}